<div class="container">
    <div>
        <h3>Professionnels de santé</h3>
        <ul>
            <li>Dr GUANNEL Marie-Christine</li>
            <li>Dr SAHAGHIAN Marcel</li>
        </ul>
    </div>
    <div class="flex-container">
        <h3>Espace rendez-vous</h3>
        <p>Afin de garantir la qualité des soins, le cabinet n'accepte plus de <strong>nouveaux patients</strong>. Merci de votre compréhension.</p>
        <button (click)="goToAjout()">Prendre RDV</button>
    </div>
    <h3>Plan d'accès</h3>
    <img src="../../../assets/localisationn.PNG" alt="plan d'accès">

    <div class="contact">
        <div class="contact__div">
            <span><strong>Cabinet médical</strong></span>
            <span>Médecine Générale</span>
        </div>
        <div class="contact__div">
            <span>7b Rue Salvador Allende</span>
            <span>92220 BAGNEUX</span>
            <span>01.47.46.08.45</span>
        </div>
    </div>
</div>